<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chameleon.streammusic"
    tools:ignore="GoogleAppIndexingWarning"
    >
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity
            android:name="com.chameleon.sustcast.chatHandler.ChatActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.chameleon.sustcast.authentication.ApiLogout" />
        <activity android:name="com.chameleon.sustcast.authentication.ApiLogin" />
        <activity android:name="com.chameleon.sustcast.MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.chameleon.sustcast.home.Home" />
        <activity android:name="com.chameleon.sustcast.credit.credit_page" />
        <activity android:name="com.chameleon.sustcast.authentication.ApiRegistration" />
        <activity android:name="com.chameleon.sustcast.authentication.resetPasswordActivity" />
        <activity android:name="com.chameleon.sustcast.authentication.newResetPassword" />
    </application>

</manifest>